.card-list {
    max-width: 1280px;
    min-width: 320px;
    padding: 80px 70px 28px 70px;
    margin: 0;
    display: flex;
    gap: 60px 30px;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-start;
    box-sizing: border-box;
}

@media (max-width:1024px) {
    .card-list {
        padding:80px 30px 12px 30px;
        gap:47px 30px; 
    }
}

@media (max-width:564px) {
    .card-list {
        padding:50px 10px 13px 10px;
        gap:36px; 
    }
}