.profile {
    max-width: 410px;
    padding: 74px 0 0 0;
    margin: 0 auto;
    position: relative;
}

.profile__inputs {
    position: relative;
}


.profile__title {
    color: #FFF;
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0 0 107px 0;
    margin: 0;
}

.profile__label {
    color: #FFF;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    margin: 0;
}

.profile__label_underlined {
    border-bottom: solid 1px #424242;
}

.profile__input {
    width: 50%;
    display: block;
    padding: 0;
    border-style: none;
    background-color: transparent;
    color: #FFF;
    text-align: right;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile__input-error{
    
    padding: 0;
    margin: 0;
    color: #EE3465;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.profile__input-error_up {
    position:absolute;
    top:0;
}

.profile__input-error_down {
    position:absolute;
    bottom: 0;
}


.profile__button-submit {
    display: block;
    padding: 204px 0 16px 0;
    margin: 0 auto;
    border-style: none;
    background-color: transparent;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile__button-logoff {
    display: block;
    padding: 0 0 70px 0;
    margin: 0 auto;
    border-style: none;
    background-color: transparent;
    color: #EE3465;
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media (max-width:1024px) {
    .profile {
        max-width: 410px;
        padding: 236px 0 0 0;
    }

    .profile__button-submit {
        padding: 194px 0 16px 0;
    }

    .profile__title {
        padding: 0 0 80px 0;
    }
    .profile__button-logoff {
        padding: 0 0 269px 0;
    }
    
}

@media (max-width:564px) {
    .profile {
        max-width: 260px;
        padding: 70px 0 0 0;
    }
    
    .profile__title {
        padding: 0 0 63px 0;
    }
    
    .profile__label {
        padding: 17px 0;
    }
    
    .profile__button-submit {
        padding: 362px 0 16px 0;
        font-size: 12px;
    }
    
    .profile__button-logoff {
        padding: 0 0 40px 0;
        font-size: 12px;
    }
}

