.page-not-found {
    display: block;
    margin: 0;
    padding: 0;
    min-height: 700px;
}

.page-not-found__header {
    margin: 0 auto;
    padding: 246px 0 5px 0;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 140px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.page-not-found__text {
    margin: 0 auto;
    padding: 0 0 184px 0;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.page-not-found__button {
    display: block;
    margin: 0 auto;
    padding: 0;
    color: #4285F4;
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    border-style: none;
    background: none;
}

@media (max-width:1024px) {
    .page-not-found {
        min-height: 1024px;
    }

    .page-not-found__header {
        padding: 408px 0 5px 0;
    }
}

@media (max-width:564px) {
    .page-not-found {
        min-height: 780px;
    }

    .page-not-found__header {
        padding: 329px 0 10px 0;
        font-size: 80px;
    }

    .page-not-found__text {
        padding: 0 0 284px 0;
        font-size: 12px;
    }

    .page-not-found__button {
        font-size: 12px;
    }
}