.filter-checkbox__input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.filter-checkbox__icon {
    animation: change_fill-rect 2s;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.filter-checkbox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: #FFF;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.filter-checkbox:hover .filter-checkbox__icon {
    transform: scale(1.1);
}

.filter-checkbox .filter-checkbox__icon {
    transition: transform 0.4s ease-in;
}

@media (max-width:564px) {
    .filter-checkbox {
        gap: 13px;
        font-size: 11px;
    }
}