.about {
    padding: 0px 70px;
    max-width: 1280px;
    box-sizing: border-box;
}

.about__title {
    padding: 110px 0 23px 0;
    margin: 0;
    color: #FFF;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    text-align: left;
}

.table {
    margin: 0;
    display: flex;
    gap: 40px;
    padding: 70px 0 0 0;
    border-top: solid #DADADA 1px;
    flex-wrap: nowrap;
    list-style: none;
}

.table__column {
    display: block;
    width: 50%;
}

.table__title {
    margin: 0;
    padding: 0 0 26px 0;
    color: #FFF;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
}

.table__text {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.scheme {
    display: flex;
    margin: 0;
    padding: 110px 0;
    list-style: none;
}

.scheme__column-back {
    width: 20%;
}

.scheme__column-front {
    width: 80%;
}

.scheme__title-back {
    margin: 0;
    padding: 9px 0;
    background: #3DDC84;
    color: #000;
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.scheme__title-front {
    margin: 0;
    padding: 9px 0;
    background: #303030;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.scheme__text {
    margin: 0;
    padding: 14px 0 0 0;
    color: #8B8B8B;
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    /* 121.429% */
}

@media (max-width:1024px) {
    .about {
        padding: 0px 50px;
    }

    .about__title {
        padding-top: 90px;
    }

    .table {
        gap: 30px;
    }

    .table__title {
        padding-bottom: 22px;
    }

    .table__text {
        font-size: 12px;
        line-height: 18px;
    }
    .scheme {
        padding: 93px 0 90px 0;
    }
}

@media (max-width:564px) {
    .about {
        padding: 0px 18px;
    }

    .about__title {
        padding-top: 70px;
        padding-bottom: 28px;
        font-size: 18px;
        letter-spacing: -0.72px;
    }

    .table {
        flex-wrap: wrap;
        gap: 56px;
        padding-top: 60px;
    }

    .table__column {
        width: 100%;
    }

    .table__title {
        font-size: 18px;
        letter-spacing: -0.72px;
        padding-bottom: 16px;
    }

    .table__text {
        font-size: 11px;
        line-height: 16px;
    }

    .scheme {
        padding: 60px 0 69px 0;
    }
    .scheme__column-back {
        width: 35%;
    }
    .scheme__column-front {
        width: 65%;
    }
    .scheme__title-back {
        padding: 11px 0;
        font-size: 11px;
    }
    
    .scheme__title-front {
        padding: 11px 0;
        font-size: 11px;
    }
    
    .scheme__text {
        padding: 10px 0 0 0;
        font-size: 11px;
        font-weight: 400;
        line-height: normal;
    }
}