.techs {
    background: #272727;
    padding: 0px 70px;
    max-width: 1280px;
    min-width: 320px;
    box-sizing: border-box;
}

.techs__title {
    padding: 100px 0 23px 0;
    margin: 0;
    color: #FFF;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    text-align: left;
    border-bottom: solid #DADADA 1px;
}

.techs__subtitle {
    padding: 90px 0 26px 0;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
}

.techs__text {
    max-width: 460px;
    margin: 0 auto;
    padding: 0 0 0 0;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.56px;
}

.techs__cards {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 100px 0;
    margin: 0 auto;
    list-style: none;
}

.techs__card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 60px;
    border-radius: 10px;
    background: #303030;
}

.techs__card-title {
    display: block;
    padding: 0;
    margin: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
}

@media (max-width:1024px) {
    .techs {
        padding: 0 50px;
    }

    .techs__title {
        padding-top: 90px;
    }

    .techs__subtitle {
        padding: 80px 0 22px 0;
    }

    .techs__text {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.48px;
    }

    .techs__cards {
        padding: 83px 0 90px 0;
        margin: 0 auto;
    }

    .techs__card {
        width: 84px;
        height: 57px;
    }

    .techs__card-title {
        font-size: 12px;
        letter-spacing: -0.48px;
    }
}

@media (max-width:564px) {
    .techs {
        padding: 0 18px;
    }

    .techs__title {
        padding: 70px 0 28px 0;
        border-bottom: solid #000 1px;
        font-size: 18px;
        letter-spacing: -0.72px;
    }

    .techs__subtitle {
        font-size: 30px;
        line-height: normal;
        letter-spacing: -1.2px;
        padding: 60px 0 24px 0;
    }

    .techs__text {
        font-size: 11px;
        line-height: 16px;
        letter-spacing: -0.44px;
    }

    .techs__cards {
        max-width: 178px;
        padding: 50px 30px 70px 30px;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .techs__card-title {
        font-size: 12px;
        letter-spacing: -0.48px;
    }
}